%header
  %h1.brand
    The Party Cloud

  %h2
    Fantastik game hosting by
    %a{href: 'http://mutlicorp.com'} Mütli Corp.

%p The Party Cloud is game hosting from the Future. It's the magic behind <a href="https://minefold.com" title="Minefold">Minefold</a>, one of the largest game server hosts in the world. If you're interested in rock-solid hosting and a massive audience for your game (or mod) please put your email down and we'll be in touch soon.

%form{action: 'http://mutlicorp.createsend.com/t/t/s/tjju', method: 'post'}
  %input{type: 'email', name: 'cm-tjju-tjju', placeholder: 'email@example.com', value: params[:email]}
  %input{type: 'submit', value: 'Notify me'}
