//= require normalize

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$futura: "futura-pt-1", "futura-pt-2", $helvetica;

$red: #F34;
$green: #5C2;
$blue: #06C;
$yellow: #FD0;

$bg: white;

$line: 12px;
$gw-gutter: 20px;

@function l($n: 1) {
  @return $n * $line;
}

html {
  font: 500 18px $futura;
  line-height: l(2);
  color: rgba(black, 0.4);
  background-color: $bg;

  -webkit-font-smoothing: antialiased;
}

a {
  color: $blue;
  text-decoration: none;
}

p {
  margin-bottom: l(2);
}

#paper {
  position: absolute;
  top: 0; right: 0;
  width: 100%; height: 100%;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
}

#app {
  width: 480px - (2 * $gw-gutter);
  position: absolute;
  left: 50%;
  margin-left: -282px;
  top: 50%;
  margin-top: -272px;
  background: white;
  padding: l(6) ($gw-gutter * 3);

  border: 2px solid rgba(black, 0);
  box-shadow: 0 10px 40px 0 rgba(black, 0.4);
}

header {
  overflow: auto;
  text-align: center;
  margin-bottom: l(4);

  h1 {
    color: black;
    font-size: 48px;
    line-height: l(4);
  }

  h2 {
    color: rgba(black, 0.4);
    font-size: 24px;
    line-height: l(3);
  }
}

form {
  overflow: auto;

  input[type=email] {
    float: left;

    border: none;
    outline: none;

    font-family: $helvetica;
    line-height: l(2);
    padding: (l(1) / 2);
    box-shadow: 0 0 0 2px black inset;

    width: 352px - l(2) + 2px;
  }

  input[type=submit] {
    float: left;

    font-size: 18px;

    line-height: l(2);
    padding: (l(1) / 2) ($gw-gutter / 2);

    color: white;
    background-color: black;
    border: none;

    margin-left: $gw-gutter / 2;
  }
}

