@import 'normalize';

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$lucida-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$monospace: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
$verdana: Verdana, Geneva, sans-serif;

$meta: "ff-meta-web-pro", $helvetica;

$blue: #47C;
$yellow: #FD8;
$green: #4B5;

$lightGray: lighten(desaturate($blue, 60%), 47%);

@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

html {
  font: 100%/1.25 $helvetica;
  -webkit-font-smoothing: antialiased;
  background-color: darken(white, 5%);
}

a {
  color: $blue;
  text-decoration: none;
}

header {
  @include clearfix;

  h1 {
    float: left;
  }

  nav {
    float: right;
  }

  h1 {
    font: 700 28px/40px $meta;
    margin: 0;
    padding: 10px 10px;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  nav {
    ul {
      @include clearfix;
      list-style-type: none;
      margin: 0;

      li {
        float: left;

        a {
          color: rgba(black, 0.4);
          display: block;
          font-size: 14px;
          line-height: 20px;
          padding: 20px 10px;
          text-decoration: none;
        }
      }
    }
  }
}

.btn {
  border-radius: 40px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
}

.jumbotron {
  padding: 60px (60px + 20px + 10px);
  color: white;

  box-shadow: inset 0 1px 0 rgba(white, 0.1);
  border-radius: 3px;

  background: $blue url('/assets/art.png') no-repeat (960px - 400px - 80px) center;

  h1 {
    margin-top: 0;
    font-size: 36px;
    font-family: $meta;
    line-height: 60px;
    margin-bottom: 0px;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  p {
    color: rgba(white, 0.6);
    margin-top: 0;
    margin-bottom: 40px;
    font: 18px/20px;
    width: 60px + 20px + 60px + 20px + 60px + 20px + 60px + 20px + 60px;
  }

  a.btn {
    display: inline-block;
  }
}


.guide {
  width: 200px;
  padding: 20px;
  color: white;
  background-color: white;
  border-right: 1px solid #CCC;

  position: fixed;
  top: 0;
  bottom: 0;

  ol {
    padding-left: 0;
    list-style-type: none;
    font-size: 12px;
    line-height: 20px;

    ol {
      margin-left: 10px;
      font-size: 11px;
    }

    li a {
      color: $blue;
      text-decoration: none;
    }
  }
}

.methods {
  margin-left: 241px;
  border-spacing: 0;

  .method-section {
    vertical-align: top;
    display: block;

    .method-description {
      width: 460px;
      min-width: 460px;

      background-color: white;

      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 40px;
    }

    .method-example {
      padding-top: 60px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 40px;

      font: 12px $monospace;

      .method-example-object {
        white-space: pre;
        &:before {
          display: block;
          content: "Example Object";
          text-transform: uppercase;
          color: rgba(black, 0.4);
        }
      }

      .method-definition {
        white-space: pre;

        &:before {
          display: block;
          content: "Definition";
          text-transform: uppercase;
          color: rgba(black, 0.4);
        }

        .method-verb,
        .verb {
        }
        .method-pattern,
        .pattern {
        }
      }

      .method-request {
        white-space: pre;

        &:before {
          display: block;
          content: "Example Request";
          text-transform: uppercase;
          color: rgba(black, 0.4);
        }

        .prompt {
          color: rgba(black, 0.4);
        }
      }

      .method-response {

        &:before {
          display: block;
          content: "Example Response";
          text-transform: uppercase;
          color: rgba(black, 0.4);
        }

        .method-response-headers {
        }
        .method-response-body {
          white-space: pre;
        }
      }
    }
  }
}

dl.attribute-list,
dl.argument-list {
  font-size: 12px;
  dt {
    font-weight: 700;
    width: 34%;
    float: left;
    clear: both;
    text-align: right;

    margin-top: 10px;

    display: block;
  }

  dd {
    font-weight: 700;
    float: right;
    width: 60%;
    margin-left: 0;
    display: block;

    margin-top: 10px;

    + dd {
      margin-top: 5px;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
    }

    span, p {
      font-weight: normal;
    }
    span {
      font-style: italic;
    }
  }


}

.more-info {
  @include clearfix;
  margin-top: 20px;
  background: white;
//  margin-bottom: 60px;
  box-shadow: 0 1px 1px rgba(black, 0.1);
  border-radius: 3px;

  center {
    margin: 60px 0;
    a.btn {
      display: inline-block;
      color: white;
      background-color: $green;
    }
  }

  .highlight {
    background-color: lighten($yellow, 15%);
    color: desaturate(darken($yellow, 40%), 80%);
    padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
  }
}

.features {
  @include clearfix;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(black, 0.1);
}

.section {
  box-sizing: border-box;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 60px + 20px + 60px + 20px + 60px + 20px + 60px + 20px + 60px + 20px;
  margin-bottom: 20px;
  clear: both;

  color: rgba(black, 0.6);
  line-height: 24px;

  h2 {
    color: black;
    font-weight: 500;
  }

  figure {
    margin-top: -20px;
  }

}

.section-right {
  float: right;
  margin-right: 60px + 20px;

  figure {
    float: left;
    margin-left: -400px;
  }
}

.section-left {
  float: left;
  margin-left: 60px + 20px;

  figure {
    float: right;
    margin-right: -400px;
  }
}

.social-proof {
  clear: both;
  padding-top: 40px;
  text-align: center;
  font-size: 18px;
  a.btn {
    margin-left: 20px;
  }
}

.metal {
  color: rgba(black, 0.6);
}

abbr[title] {
  border-bottom-color: rgba(black, 0.1);
  font-variant: small-caps;
  font-size: 90%;
}

.clients {
  margin: 20px 20px;
  text-align: center;
  height: 30px;

  color: rgba(black, 0.2);
  font-weight: 500;
  font-size: 18px;
  vertical-align: top;
  line-height: 30px;

  .highlight {
    background-color: $yellow;
    color: darken($yellow, 40%);
    vertical-align: top;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
  }

  .client {
    display: inline-block;
    margin: 5px;
    img {
      display: block;
    }
  }
}

footer {
  font-size: 12px;

  line-height: 20px;

  color: rgba(black, 0.4);

  margin-top: 20px;
  margin-bottom: 60px;
  @include clearfix;

  nav {
    float: left;

    ul {
      list-style-type: none;
      @include clearfix;
      margin: 5px;
      padding: 0;

      li {
        float: left;
        a {
          display: block;
          padding: 5px;
        }
      }
    }
  }

  .copyright {
    float: right;
    margin: 10px;
  }
}
