<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- TODO -->
    <meta name="description" content="">
    <!-- TODO -->
    <meta name="og:image" content="">

    <title>Party Cloud is a cloud game server platform</title>

    <link href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css" />
    <link href="/app.css">

    <% erb :_segment %>
  </head>
  <body>
    <nav class="guide">
      <ol>
        <li><a href="#authentication">Authentication</a></li>
        <li><a href="#errors">Errors</a></li>
        <li><a href="#versioning">Versioning</a></li>
        <li>
          <a href="#servers">Servers</a>
          <ol>
            <li><a href="#create-server">Create a new server</a></li>
            <li><a href="#retrieve-server">Retrieve an existing server</a></li>
            <li><a href="#update-server">Update a server</a></li>
            <li><a href="#delete-server">Delete a server</a></li>
            <li><a href="#list-servers">List all servers</a></li>
          </ol>
        </li>
        <li>
          <a href="#sessions">Sessions</a>
          <ol>
            <li><a href="#start-session">Start a new session</a></li>
            <li><a href="#retrieve-server-session">Retrieve a server's current session</a></li>
            <li><a href="#retrieve-session">Retrieve an existing session</a></li>
            <li><a href="#kill-session">Kill a session</a></li>
          </ol>
        </li>
        <li>
          <a href="#players">Players</a>
          <ol>
            <li><a href="#create-player">Create a new player</a></li>
            <li><a href="#retrieve-player">Retrieve an existing player</a></li>
            <li><a href="#update-player">Update a player</a></li>
            <li><a href="#delete-player">Delete a player</a></li>
            <li><a href="#list-players">List all players</a></li>
          </ol>
        </li>
        <li>
          <a href="#funpacks">Funpacks</a>
          <ol>
            <li><a href="#retrieve-funpack">Retrieve an existing Funpack</a></li>
            <li><a href="#list-funpacks">List all Funpacks</a></li>
          </ol>
        </li>

        <li>
          <a href="#snapshots">Shapshots</a>
          <ol>
            <li><a href="#retrieve-snapshot">Retrieve an existing shapshot</a></li>
            <li><a href="#download-snapshot">Download an archive of a snapshot<a></li>
            <li><a href="#list-snapshots">List all snapshots<a></li>
          </ol>
        </li>

        <li>
          <a href="#regions">Regions</a>
          <ol>
            <li><a href="#list-regions">List all regions</a></li>
          </ol>
        </li>
      </ol>
    </nav>

    <table class="methods">
      <tr class="method-section" id="authentication">
        <td class="method-description">
          <h2>Authentication</h2>
          <p>You authenticate to the Party Cloud API by providing an API key in the request. You can manage your API key from your account. Your API key carries many privileges, so be sure to keep it secret!</p>

          <p>Authentication to the API occurs via HTTP Basic Auth. Provide your API key as the basic auth username. You do not need to provide a password.</p>

          <p>All API requests must be made over HTTPS. Calls made over plain HTTP will fail. You must authenticate for all requests.</p>
        </td>
        <td class="method-example">
          <div class="method-request">
<span class="prompt">$</span> curl https://api.partycloud.com/servers \
    -u abc123:
          </div>
          <div class="method-example-request">

          </div>
        </td>
      </tr>

      <tr class="method-section" id="errors">
        <td class="method-description">
          <h2>Errors</h2>
          <p>HTTP response codes indicate the success or failure of an API request. In general, codes in the 2xx range indicate success, codes in the 4xx range indicate an error that resulted from the provided information (e.g. a required parameter was missing etc.), and codes in the 5xx range indicate an error with our servers.</p>
        </td>
        <td class="method-example">
          <h6>HTTP Status Code Summary</h6>
          <ul>
            <li>200 OK - Everything worked as expected.</li>
            <li>400 Bad Request - Often missing a required parameter.</li>
            <li>401 Unauthorized - No valid API key provided.</li>
            <li>404 Not Found - The requested item doesn't exist.</li>
            <li>500, 502, 503, 504 Server errors - something went wrong in the Party Cloud.</li>
          </ul>
        </td>
      </tr>

      <tr class="method-section" id="versioning">
        <td class="method-description">
          <h2>Versioning</h2>
          <p>When we make backwards-incompatible changes to the API, we release new versions. The current version is <strong>1</strong>.</p>
        </td>
        <td class="method-example">
          <div class="method-example-request">
<span class="prompt">$</span> curl https://api.partycloud.com/servers \
    -H Accept=application/vnd.party-cloud-1+json
          </div>
        </td>
      </tr>

      <tr class="method-section" id="servers">

        <td class="method-description">
          <h3>Servers</h3>
          <p>Servers are the basic unit of the Party Cloud. They represent an  area where players can play together. They are isolated but can be run in multiple regions.
        </td>

      </tr>

      <tr class="method-section">

        <td class="method-description">
          <h4>The server object</h4>
          <h5>Attributes</h5>
          <dl class="attribute-list">
            <dt>id</dt>
            <dd>string</dd>

            <dt>object</dt>
            <dd>string, <span>value is "server"</span></dd>

            <dt>name</dt>
            <dd>string <span> or null</span></dd>
            <dd>
              <p>
                Used to display back to the user or just to make servers easier to identify.
              </p>
            </dd>

            <dt>region</dt>
            <dd>string</dd>
            <dd>
              <p>
                The server's geographic region. Persistant data from the server will be stored here. This is a attribute of the server, not the session as it's unlikely that servers will move rather than when starting a session because moving existing data may take time.
              </p>
            </dd>

            <dt>state</dt>
            <dd>string</dd>

            <dt>players</dt>
            <dd>positive integer or zero</dd>

            <dt>funpack</dt>
            <dd>string</dd>

            <dt>owner</dt>
            <dd>string <span> or null</span></dd>
            <dd>
              <p>The player that "owns" the server. Used for server lists. Usually the player that created it.</p>
            </dd>

            <dt>snapshot</dt>
            <dd>string <span>or null</span></dd>
            <dd>
              <p>The id of the current snapshot of the server's data. Can be null if the server hasn't run yet.</p>
            </dd>

            <dt>created</dt>
            <dd>timestamp</dd>

            <dt>ip</dt>
            <dd>string <span>or null</span></dd>

            <dt>port</dt>
            <dd>positive integer <span>or null</span></dd>
          </dl>

        </td>
        <td class="method-example">
          <div class="method-example-object">
{
  "id": "3871b2fe-0117-422b-ac85-097acea61c18",
  "object": "server",
  "name": "minebnb",
  "region": "us-east-1",
  "state": "up",
  "players": 1,
  "funpack": "5b81dc66-9d9d-4dc4-9ee2-b475b0fdfc12",
  "snapshot": "e279e9e6-5392-43c0-a443-858aac1af2e0",
  "created": 1364243761,
  "ip": "192.168.1.1",
  "port": 12345
}
          </div>
        </td>
      </tr>

      <tr class="method-section" id="create-server">
        <td class="method-description">
          <h4>Create a new server</h4>
          <p>Creates a new server.</p>
          <h5>Arguments</h5>
          <dl class="argument-list">
            <dt>funpack</dt>
            <dd>required</dd>

            <dt>name</dt>
            <dd>optional</dd>

            <dt>region</dt>
            <dd>optional, <span>default is us-east-1</span></dd>
          </dl>

          <h5>Returns</h5>
          <p>A new server object. The server isn't running yet, it merely exists logically.</p>
        </td>

        <td class="method-example">
          <div class="method-definition">
<span class="method-verb method-verb-get">POST</span> <span class="method-pattern">https://api.partycloud.com/servers</span>
          </div>

          <div class="method-request">
<span class="prompt">$</span> curl https://api.partycloud.com/servers \
    -u auth1234: \
    -d name=minebnb \
    -d region=us-east-1 \
    -d funpack=5b81dc66-9d9d-4dc4-9ee2-b475b0fdfc12
          </div>

          <div class="method-response">
            <div class="method-response-headers"></div>
            <div class="method-response-body">
{
  "id": "3871b2fe-0117-422b-ac85-097acea61c18",
  "object": "server",
  "name": "minebnb",
  "region": "us-east-1",
  "state": "down",
  "players": 0,
  "funpack": "5b81dc66-9d9d-4dc4-9ee2-b475b0fdfc12",
  "snapshot": null,
  "created": 1364243761,
  "ip": null,
  "port": null
}
            </div>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="retrieve-server">
        <td class="method-description">
          <h4>Retrieve an existing server</h4>
        </td>
        <td class="method-example">
          <div class="method-definition">
<span class="method-verb method-verb-get">GET</span> <span class="method-pattern">https://api.partycloud.com/servers/#{SERVER_ID}</span>
          </div>

          <div class="method-request">
<span class="prompt">$</span> curl https://api.partycloud.com/servers/3871b2fe-0117-422b-ac85-097acea61c18 \
    -u auth1234:
          </div>
        </td>
      </tr>

      <tr class="method-section" id="update-server">
        <td class="method-description">
          <h4>Update a server</h4>
          <p>You can change the snapshot that's associated with a server (i.e. rollback). However, if the server is running, a snapshot will be generated when it stops so you need to consciously pass kill=true to kill the server without generating a snapshot.</p>
          <h5>Arguments</h5>
          <dl class="argument-list">
            <dt>force</dt>
            <dd>optional, <span>default is false</span></dd>
            <dd><p>Restarts the server <span>without triggering a snapshot</span></p></dd>

            <dt>name</dt>
            <dd>optional</dd>

            <dt>region</dt>
            <dd>optional</dd>

            <dt>snapshot</dt>
            <dd>optional</dd>
          </dl>
        </td>

        <td class="method-example">
          <div class="method-definition">
<span class="method-verb method-verb-get">PATCH</span> <span class="method-pattern">https://api.partycloud.com/servers/#{SERVER_ID}</span>
          </div>

          <div class="method-request">
<span class="prompt">$</span> curl https://api.partycloud.com/servers/3871b2fe-0117-422b-ac85-097acea61c18 \
    -u auth1234: \
    -X PATCH
    -d name=minebnb \
    -d region=us-east-1 \
          </div>
        </td>
      </tr>

      <tr class="method-section" id="delete-server">
        <td class="method-description">
          <h4>Delete a server</h4>
        </td>

        <td class="method-example">
          <div class="method-definition">
<span class="method-verb method-verb-get">POST</span> <span class="method-pattern">https://api.partycloud.com/servers/{SERVER_ID}</span>
          </div>

          <div class="method-request">
<span class="prompt">$</span> curl https://api.partycloud.com/servers/3871b2fe-0117-422b-ac85-097acea61c18 \
    -X DELETE \
    -u auth1234:
          </div>

          <div class="method-response">
            <div class="method-response-headers">
              Status: 204
            </div>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="list-servers">
        <td class="method-description">
          <h4>List all servers</h4>

          <h5>Arguments</h5>
          <dl class="argument-list">
            <dt>state</dt>
            <dd>optional, <span>default is all</span></dd>

            <dt>owner</dt>
            <dd>optional</dd>

            <dt>funpack</dt>
            <dd>optional</dd>
          </dl>
        </td>

        <td class="method-example">
          <div class="method-definition">
<span class="method-verb method-verb-get">GET</span> <span class="method-pattern">https://api.partycloud.com/servers</span>
          </div>

          <div class="method-request">
<span class="prompt">$</span> curl https://api.partycloud.com/servers \
    -u auth1234:
          </div>

          <div class="method-response">
            <div class="method-response-headers"></div>
            <div class="method-response-body">
{
  "object": "list",
  "count": 3,
  "data": [
    {
      "object": "server",
      ...
    },
    { ... },
    { ... }
  ]
}
            </div>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="sessions">
        <td class="method-description">
          <h3>Sessions</h3>
          <p>Sessions represent a run of a server. A server can only have one active session.</p>
        </td>
        <td class="method-example">
          <div class="method-example-object">
{
  "id": "3871b2fe-0117-422b-ac85-097acea61c18",
  "object": "session",
  "endOnEmpty": true,
  "args": "motd=Hello!",
  "created": 1364243761,
  "started": 1364244833,
  "stopped": 1364247533,
  "server": "3871b2fe-0117-422b-ac85-097acea61c18",
  "ip": "192.168.1.1",
  "port": 12345
}
            </div>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="start-session">
        <td class="method-description">
          <h4>Start a session</h4>
        </td>
        <td class="method-example">
          <div class="method-definition">
<span class="verb">POST</span> <span class="pattern">https://api.partycloud.com/servers/{SERVER_ID}/session</span>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="retrieve-server-session">
        <td class="method-description">
          <h4>Retrieve a server's current session</h4>
        </td>
        <td class="method-example">

          <div class="method-definition">
<span class="method-verb method-verb-get">GET</span> <span class="method-pattern">https://api.partycloud.com/servers/{SERVER_ID}/session
            </span>
          </div>

          <div class="method-response">
            <div class="method-response-body">
{
  "id": "3871b2fe-0117-422b-ac85-097acea61c18",
  "object": "session",
  "endOnEmpty": true,
  "created": 1364243761,
  "started": 1364244833,
  "stopped": null,
  "server": "3871b2fe-0117-422b-ac85-097acea61c18",
  "ip": "192.168.1.1",
  "port": 12345,
  "players": [
    {
      "id": "79f4b42b-2cd4-439b-b6fb-0fa4c8031684",
      "started": 1364244833,
      "stopped": 1364244933
    },
    {
      "id": "79f4b42b-2cd4-439b-b6fb-0fa4c8031684",
      "started": 1364244943,
      "stopped": null
    },
    { ... }
  ]
}
            </div>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="retrieve-session">
        <td class="method-description">
          <h4>Retrieve an existing session</h4>
        </td>
        <td class="method-example">

          <div class="method-definition">
<span class="method-verb method-verb-get">GET</span> <span class="method-pattern">https://api.partycloud.com/sessions/{SESSION_ID}
            </span>
          </div>

          <div class="method-response">
            <div class="method-response-body">
{
  "id": "3871b2fe-0117-422b-ac85-097acea61c18",
  "object": "session",
  "endOnEmpty": true,
  "created": 1364243761,
  "started": 1364244833,
  "stopped": 1364247533,
  "server": "3871b2fe-0117-422b-ac85-097acea61c18",
  "ip": "192.168.1.1",
  "port": 12345
}
            </div>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="kill-session">
        <td class="method-description">
          <h4>Kill a session</h4>
          <p>Only use this if you want to force stop a server: it'll kick all the players. By default, all sessions end automatically when the server has been empty for 10 minutes.
        </td>
        <td class="method-example">
          <div class="method-definition">
<span class="verb">DELETE</span> <span class="pattern">https://api.partycloud.com/servers/{SERVER_ID}/session</span>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="list-sessions">
        <td class="method-description">
          <h4>List all sessions</h4>
        </td>
        <td class="method-example">
          <div class="method-definition">
<span class="verb">GET</span> <span class="pattern">https://api.partycloud.com/sessions</span>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="players">
        <td class="method-description">
          <h3>Players</h3>
          <p>Players are real humans that have played on a servers. Players should not be used for spectators or bots. Players will be automatically created based on the output of a Funpack. If a person changes their username in the game, please update their username here to accurately track their statistics.</p>
        </td>
      </tr>

      <tr class="method-section">
        <td class="method-description">
          <h4>The player object</h4>
          <h5>Attributes</h5>
          <dl class="attribute-list">
            <dt>id</dt>
            <dd>string</dd>

            <dt>object</dt>
            <dd>string, <span>value is "player"</span></dd>

            <dt>distinctId</dt>
            <dd>string</dd>
            <dd><p>It should correspond to the ID of the person in your system. It can't be changed.</p></dd>

            <dt>created</dt>
            <dd>timestamp</dd>

            <dt>name</dt>
            <dd>string <span>or null</span></dd>
            <dd><p>Convenient label for support tools.</p></dd>

            <dt>email</dt>
            <dd>string <span>or null</span></dd>
            <dd><p>Convenient label for support tools.</p></dd>
          </dl>
        </td>
        <td class="method-example">
          <div class="method-example-object">
{
  "id": "79f4b42b-2cd4-439b-b6fb-0fa4c8031684",
  "object": "player",
  "distinctId": "1",
  "name": "chrislloyd",
  "email": "chrislloyd@example.com",
  "created": 1364243761
}
          </div>
        </td>
      </tr>

      <tr class="method-section" id="create-player">
        <td class="method-description">
          <h4>Create a new player</h4>
          <p>Players will be automatically created when they join a server, however if you want to build server lists you should create a player so you can attach them as a server owner.</p>
        </td>

        <td class="method-example">
          <div class="method-definition">
<span class="method-verb method-verb-get">POST</span> <span class="method-pattern">https://api.partycloud.com/players</span>
          </div>

          <div class="method-response">
            <div class="method-response-body">
{
  "id": "79f4b42b-2cd4-439b-b6fb-0fa4c8031684",
  "object": "player",
  "distinctId": "1",
  "name": "chrislloyd",
  "email": "christopher.lloyd@gmail.com",
  "created": 1364243761
}
            </div>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="retrieve-player">
        <td class="method-description">
          <h4>Retrieve an existing player</h4>
        </td>
        <td class="method-example">
          <div class="method-definition">
<span class="method-verb method-verb-get">GET</span> <span class="method-pattern">https://api.partycloud.com/players/{PLAYER_ID}</span>
          </div>

          <div class="method-response">
            <div class="method-response-body">
{
  "id": "79f4b42b-2cd4-439b-b6fb-0fa4c8031684",
  "object": "player",
  "distinctId": "1",
  "name": "chrislloyd",
  "email": "christopher.lloyd@gmail.com",
  "created": 1364243761
}
            </div>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="update-player">
        <td class="method-description">
          <h4>Update a player</h4>
        </td>

        <td class="method-example">
          <div class="method-definition">
<span class="method-verb method-verb-get">PATCH</span> <span class="method-pattern">https://api.partycloud.com/players/{PLAYER_ID}</span>
          </div>

          <div class="method-request">
<span class="prompt">$</span> curl https://api.partycloud.com/players/79f4b42b-2cd4-439b-b6fb-0fa4c803168 \
    -X PATCH
    -u auth1234:
    -d name=whatupdave
    -d email=whatupdave@example.com
          </div>

          <div class="method-response">
            <div class="method-response-headers">
              Status: 200
            </div>
            <div class="method-response-body">
{
  "id": "79f4b42b-2cd4-439b-b6fb-0fa4c8031684",
  "object": "player",
  "distinct_id": "1",
  "name": "whatupdave",
  "email": "whatupdave@example.com",
  "created": 1364243761
}
            </div>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="delete-player">
        <td class="method-description">
          <h4>Delete a player</h4>
        </td>

        <td class="method-example">
          <div class="method-definition">
<span class="method-verb method-verb-get">DELETE</span> <span class="method-pattern">https://api.partycloud.com/players/{PLAYER_ID}</span>
          </div>

          <div class="method-request">
<span class="prompt">$</span> curl https://api.partycloud.com/players/79f4b42b-2cd4-439b-b6fb-0fa4c803168 \
    -X DELETE
    -u auth1234:
          </div>

          <div class="method-response">
            <div class="method-response-headers">
              Status: 204
            </div>
            <div class="method-response-body"></div>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="list-players">
        <td class="method-description">
          <h4>List all players</h4>
        </td>

        <td class="method-example">
          <div class="method-definition">
<span class="method-verb method-verb-get">GET</span> <span class="method-pattern">https://api.partycloud.com/players</span>
          </div>

          <div class="method-request">
<span class="prompt">$</span> curl https://api.partycloud.com/players \
    -u auth1234:
          </div>

          <div class="method-response">
            <div class="method-response-headers"></div>
            <div class="method-response-body">
{
  "object": "list",
  "count": 3,
  "data": [
    {
      "id": "79f4b42b-2cd4-439b-b6fb-0fa4c8031684",
      "object": "player",
      "name": "chrislloyd",
      "email": "christopher.lloyd@gmail.com",
      "created": 1364243761
    },
    { ... },
    { ... }
  ]
}
            </div>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="funpacks">
        <td class="method-description">
          <h3>Funpacks</h3>
          <p>Funpacks are a bundle of scripts that make up a runnable game on the Party Cloud. For the moment, Funpacks can only be created and pushed by authorized accounts.</p>
        </td>
      </tr>

      <tr class="method-section">
        <td class="method-description">
        </td>

        <td class="method-example">
          <div class="method-example-object">
{
  "id": "5b81dc66-9d9d-4dc4-9ee2-b475b0fdfc12",
  "object": "funpack",
  "name": "team-fortress-2",
  "created": 1364243761
}
          </div>
        </td>
      </tr>

      <tr class="method-section" id="retrieve-funpack">
        <td class="method-description">
          <h4>Retrieve an existing Funpack</h4>
        </td>

        <td class="method-example">
          <div class="method-definition">
<span class="method-verb method-verb-get">GET</span> <span class="method-pattern">https://api.partycloud.com/funpacks/{FUNPACK_ID}</span>
          </div>

          <div class="method-request">
<span class="prompt">$</span> curl https://api.partycloud.com/funpacks/5b81dc66-9d9d-4dc4-9ee2-b475b0fdfc12 \
    -u auth1234:
          </div>

          <div class="method-response">
            <div class="method-response-headers"></div>
            <div class="method-response-body">
{
  "id": "5b81dc66-9d9d-4dc4-9ee2-b475b0fdfc12",
  "object": "funpack",
  "name": "team-fortress-2",
  "created": 1364243761
}
            </div>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="list-funpacks">
        <td class="method-description">
          <h4>List all Funpacks</h4>
        </td>

        <td class="method-example">
          <div class="method-definition">
<span class="method-verb method-verb-get">GET</span> <span class="method-pattern">https://api.partycloud.com/funpacks</span>
          </div>

          <div class="method-request">
<span class="prompt">$</span> curl https://api.partycloud.com/funpacks \
    -u auth1234:
          </div>

          <div class="method-response">
            <div class="method-response-headers"></div>
            <div class="method-response-body">
{
  "object": "list",
  "count": 2,
  "data": [
    {
      "id": "5b81dc66-9d9d-4dc4-9ee2-b475b0fdfc12",
      "object": "funpack",
      "name": "team-fortress-2",
      "created": 1364243761
    },
    { ... },
    { ... }
  ]
}
            </div>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="snapshots">
        <td class="method-description">
          <h3>Snapshots</h3>
          <p>
            Snapshots are data saved from a server. When a server has an active session, they are created every 10 minutes. A final snapshot is also captured when the session ends. Servers are booted with their last known snapshot. Snapshots are immutable and generated by the system.
          </p>
        </td>
      </tr>

      <tr class="method-section">
        <td class="method-description">
          <h4>The snapshot object</h4>
          <h5>Attributes</h5>
          <dl class="attribute-list">
          </dl>
        </td>

        <td class="method-example">
          <div class="method-example-object">
{
  "id": "e279e9e6-5392-43c0-a443-858aac1af2e0",
  "object": "snapshot",
  "created": 1364243761,
  "size": 1401946112
}
          </div>
        </td>
      </tr>

      <tr class="method-section" id="retrieve-snapshot">
        <td class="method-description">
          <h4>Retrieve an existing snapshot</h4>
        </td>
        <td class="method-example">
          <div class="method-definition">
<span class="method-verb method-verb-get">GET</span> <span class="method-pattern">https://api.partycloud.com/snapshots/{SNAPSHOT_ID}</span>
          </div>

          <div class="method-request">
<span class="prompt">$</span> curl https://api.partycloud.com/snapshots/e279e9e6-5392-43c0-a443-858aac1af2e0 \
    -u auth1234:
          </div>

          <div class="method-response">
            <div class="method-response-headers"></div>
            <div class="method-response-body">
{
  "id": "e279e9e6-5392-43c0-a443-858aac1af2e0",
  "object": "snapshot",
  "created": 1364243761,
  "size": 1401946112
}
            </div>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="download-snapshot">
        <td class="method-description">
          <h4>Download an archive of a snapshot</h4>
        </td>
        <td class="method-example">
          <div class="method-definition">
<span class="method-verb method-verb-get">GET</span> <span class="method-pattern">https://api.partycloud.com/snapshots/{SNAPSHOT_ID}.zip</span>
          </div>

          <div class="method-request">
<span class="prompt">$</span> curl https://api.partycloud.com/snapshots/e279e9e6-5392-43c0-a443-858aac1af2e0.zip \
    -u auth1234:
          </div>

          <div class="method-response">
            <div class="method-response-headers">
              Status: 302
              <br/>
              Location: https://dl.minefold.com/e279e9e6-5392-43c0-a443-858aac1af2e0.zip
            </div>
          </div>
        </td>
      </tr>

      <tr class="method-section" id="list-snapshots">
        <td class="method-description">
          <h4>List all snapshots</h4>
        </td>

        <td class="method-example">
          <div class="method-definition">
<span class="method-verb method-verb-get">GET</span> <span class="method-pattern">https://api.partycloud.com/servers/{SERVER_ID}/snapshots</span>
          </div>

          <div class="method-request">
<span class="prompt">$</span> curl https://api.partycloud.com/servers/3871b2fe-0117-422b-ac85-097acea61c18/snapshots \
    -u auth1234:
          </div>

          <div class="method-response">
            <div class="method-response-headers"></div>
            <div class="method-response-body">
{
  "object": "list",
  "count": 3,
  "data": [
    {
      "id": "e279e9e6-5392-43c0-a443-858aac1af2e0",
      "object": "snapshot",
      "created": 1364243761,
      "size": 1401946112
    },
    { ... },
    { ... }
  ]
}
            </div>
          </div>
        </td>
      </tr>


      <tr class="method-section" id="regions">
        <td class="method-description">
          <h3>Regions</h3>
          <p>
            Regions are datacenters that are available to run a game. They can be queried to determine the region with the fastest ping-time for the player. Servers can be migrated from region to region (though this may take some time if the server is particularly large).
          </p>
          <p>
            All accounts support us-east-1 by default. More <a href="http://aws.amazon.com/about-aws/globalinfrastructure/">Amazon datacenters</a> are coming soon as well as the ability to plug in on-site infrastructure.
          </p>
        </td>
      </tr>

      <tr class="method-section">
        <td class="method-description">
          <h4>The region object</h4>
          <h5>Attributes</h5>
          <dl class="attribute-list">
            <dt>id</dt>
            <dd>string</dd>

            <dt>object</dt>
            <dd>string, <span>value is "region"</span></dd>
          </dl>
        </td>

        <td class="method-example">
          <div class="method-example-object">
{
  "id": "us-east-1",
  "object": "region"
}
          </div>
        </td>
      </tr>

      <tr class="method-section" id="list-regions">
        <td class="method-description">
          <h4>List all regions</h4>
        </td>

        <td class="method-example">
          <div class="method-definition">
<span class="method-verb method-verb-get">GET</span> <span class="method-pattern">https://api.partycloud.com/regions</span>
          </div>

          <div class="method-request">
<span class="prompt">$</span> curl https://api.partycloud.com/regions \
    -u auth1234:
          </div>

          <div class="method-response">
            <div class="method-response-headers"></div>
            <div class="method-response-body">
{
  "object": "list",
  "count": 1,
  "data": [
    {
      "id": "us-east-1",
      "object": "region"
    }
  ]
}
            </div>
          </div>
        </td>
      </tr>

    </table>
  </body>
</html>
