<div class="container">
  <header>
    <h1>Party<span>Cloud</span></h1>
    <nav>
      <ul>
        <li><a href="//manage.partycloud.com/signup">Sign Up</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="mailto:support@partycloud.com">Help &amp; Support</a></li>
      </ul>
    </nav>
  </header>

  <div class="jumbotron">
    <h1>Game servers made fun</h1>
    <p>PartyCloud is a hosting platform that enables<br/><i>anybody</i> to deploy and scale multiplayer games.</p>
    <a href="asdf" class="btn">Get Started with PartyCloud</a>
  </div>

  <div class="clients">
    <h5>Trusted by</h5>
    <!-- <a class="client" href="http://mojang.com">
      <img src="/assets/mojang.png" />
    </a> -->
    <a class="client" href="https://minefold.com">
      <img src="/assets/minefold.png" />
    </a>
    <a class="client" href="http://www.alientrap.org">
      <img src="/assets/alientrap.png" />
    </a>
    <!-- <a class="client" href="http://www.pinion.gg">
      <img src="/assets/pinion.png" />
    </a> -->
  </div>

  <div class="more-info">
    <div class="features">
      <div class="section section-right">
        <h2>Focus on your game</h2>
        <p>
          You don't need sysadmins to build a multiplayer game. PartyCloud is fully managed and handles everything from scaling to persisting state to picking the datacenter with the lowest latency.
        </p>
      </div>

      <div class="section section-left">
        <h2>Fast setup, deep insights</h2>
        <p>
          There's no complicated APIs to learn: just push your code and your servers are ready to run. When you need more control, PartyCloud's <abbr title="HyperText Transfer Protocol">HTTP</abbr> <abbr title="Application Programming Interface">API</abbr> gives you full access to your process logs and input streams.
        </p>
      </div>

      <div class="section section-right">
        <figure>
          <img src="/assets/graph.png" width="380" height="220" />
        </figure>
        <h2>On demand</h2>
        <p>
          87% of game servers are used for less than 10 hours a week. PartyCloud saves you money by only billing when people are <em>actually playing</em>. Extra capacity is always available when you need it.
        </p>
      </div>

      <div class="section section-left">
        <h2>Doin' it for the kids</h2>
        <p>
          Finally have seamless multiplayer with server browsers and player stats included for free. You choose how to grow your community. Run official servers, let players create their own, or do both!
        </p>
      </div>


    </div>

    <center>
      <div class="social-proof">
        Currently running over <span class="highlight">80,000 game servers</span>.
        <a href="#" class="btn">Get Started with PartyCloud</a>
      </div>
      <br/>
      <br/>
      <div class="enterprise">
        <p>Already have hardware? <a href="mailto:enterprise@partycloud.com?subject=PartyCloud%20Enterprise">Find out how we can help you.</a></p>
      </div>

    </center>

  </div>
</div>
