<div class="container">
  <header>
    <h1>Party<span>Cloud</span></h1>
    <nav>
      <ul>
        <li><a href="#" data-overlay="yay">Sign Up</a></li>
        <li><a href="#" data-overlay="yay">Documentation</a></li>
        <li><a href="mailto:support@partycloud.com">Help &amp; Support</a></li>
      </ul>
    </nav>
  </header>

  <div class="jumbotron">
    <h1>Game servers made fun</h1>
    <p>PartyCloud is a hosting platform that enables game developers to deploy and scale multiplayer games.</p>
    <a href="#" data-overlay="yay" class="btn">Get Started with PartyCloud</a>
  </div>

  <div class="clients">
    Trusted by
    <% if params[:beta] %>
      <a class="client" href="http://mojang.com">
        <img src="/assets/mojang.png" />
      </a>,
      <a class="client" href="http://www.pinion.gg">
        <img src="/assets/pinion.png" />
      </a>,
    <% end %>
    <a class="client" href="https://minefold.com">
      <img src="/assets/minefold.png" />
    </a>,
    <a class="client" href="http://www.alientrap.org">
      <img src="/assets/alientrap.png" />
    </a>
    &amp; others to run over <span class="highlight">80,000 game servers.</span>
  </div>

  <div class="more-info">
    <div class="features">
      <div class="section section-right">
        <figure>
          <img src="/assets/growth.png" width="380" height="220" />
        </figure>
        <h2>Focus on your players</h2>
        <p>
          You don't need sysadmins to build a multiplayer game. PartyCloud is <span class="highlight">fully managed</span> and handles everything from scaling to persisting state to picking the datacenter with the lowest latency.
        </p>
      </div>

      <div class="section section-left">
        <figure>
          <img src="/assets/code.png" width="380" height="220" />
        </figure>
        <h2>Fast setup, deep insights</h2>
        <p>
          There are no complicated <abbr title="Application Programming Interfaces">APIs</abbr> to learn: just push your code and it's ready to play. Need more control? PartyCloud's <abbr title="HyperText Transfer Protocol">HTTP</abbr> <abbr title="Application Programming Interface">API</abbr> gives <span class="highlight">full access</span> to your sandboxed <abbr title="Virtual Machines">VMs</abbr>. Grep log history and pipe to stdin.
        </p>
      </div>

      <div class="section section-right">
        <figure>
          <img src="/assets/graph.png" width="380" height="220" />
        </figure>
        <h2>On demand</h2>
        <p>
          87% of game servers are used for less than 10 hours a week. PartyCloud <span class="highlight">saves you money</span> by only billing when people are <em>actually playing</em>. When you need more servers, they're available instantly.
        </p>
      </div>

      <div class="section section-left">
        <figure>
          <img src="/assets/play.png" width="380" height="220" />
        </figure>
        <h2>Runs any game</h2>
        <p>
          PartyCloud won't get in the way of your game. You can run official servers or let players create their own. Most programming languages are supported. Goodies like server browsers and stats are opt-in.
        </p>
      </div>


    </div>

    <center>
      <a href="#" data-overlay="yay" class="btn">Get Started with PartyCloud</a>
    </center>

  </div>

  <footer>
    <nav>
      <ul>
        <li><a href="#" onclick="confirm('You agree that Wii Tennis is a real sport.');return false;">Terms</a></li>
        <li><a href="#" onclick="confirm('All your base belong to us');return false;">Privacy</a></li>
      </ul>
    </nav>
    <p class="copyright">&copy; M&uuml;tli Corp.</p>
  </footer>
</div>

<div class="overlay">
  <div class="shadow"></div>
  <div class="overlay-content">
    <h2>Heads up!</h2>
    <p>
      We're always looking for new friends to kick-ass with. However, PartyCloud has been brewing for over 2 years. Making something this bodacious takes time. If we open it up to everybody, millions of kids could cry.
    </p>
    <p>
      If you think you we'd work well together, apply below and we'll get back to you ASAP.
    </p>
    <form action="http://mutlicorp.createsend.com/t/t/s/tjju" method="POST" id="subForm">
      <input type="text" name="cm-name" placeholder="Gordon Freeman" />
      <input type="email" name="cm-tjju-tjju" placeholder="gordon@blackmesa.com" />
      <input type="submit" value="Sign up for PartyCloud" />
    </form>
    <a href="/" class="close">Close</a>
  </div>
</div>

<script>
$(document).ready(function() {
  var links = $('a[data-overlay=yay]'),
      overlay = $('.overlay'),
      closeButton = overlay.find('.close');

  links.click(function(e) {
    e.preventDefault();
    overlay.show();
    // Rad hack
    setTimeout(function() { overlay.addClass('active'); }, 0);
  });

  closeButton.click(function(e) {
    e.preventDefault();
    overlay.removeClass('active');
    // Rad hack
    setTimeout(function() { overlay.hide(); }, 300);
  });
});
</script>
