<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- TODO -->
    <meta name="description" content="">
    <!-- TODO -->
    <meta name="og:image" content="">

    <title>Party Cloud is a cloud game server platform</title>

    <link href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css" />
    <link href="/assets/app.css" rel="stylesheet" type="text/css" />

    <%= erb :_segment %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
