<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- TODO -->
    <meta name="description" content="">
    <!-- TODO -->
    <meta name="og:image" content="">

    <title>PartyCloud &#9889; The cloud game server platform.</title>

    <script type="text/javascript" src="//use.typekit.net/bth8ern.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link href="/assets/app.css" rel="stylesheet" type="text/css" />

    <%= erb :_segment %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
